attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
blinker==1.4
decorator==4.4.0
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
feedgenerator==1.9
ipython
ipython-genutils
jedi==0.15.1
Jinja2==2.10.1
jsonschema==3.0.2
jupyter-core==4.5.0
Markdown==3.1.1
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.0
nbformat==4.4.0
pandocfilters==1.4.2
parso==0.5.1
pelican==4.1.2
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit
ptyprocess==0.6.0
Pygments==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.2
six==1.12.0
smartypants==2.0.1
soupsieve==1.9.3
testpath==0.4.2
traitlets==4.3.2
typogrify==2.0.7
Unidecode==1.1.1
wcwidth==0.1.7
webencodings==0.5.1
